
body{
    background: #11998e; 
    background: -webkit-linear-gradient(to bottom, #da251d, #fcd117); 
    background: linear-gradient(to bottom, #da251d, #fcd117); 
}

.card {
    position: relative;
    height: 420px;
    width: 300px;
    background-color: #fff;
    margin: 100px auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
    position: absolute;
    height: 250px;
    width: 95%;
    margin:0 auto;
    left: 0;
    right: 0;
    top: -30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to right, #da251d, #da251d);
}

.header img {
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    left: 90px;
    top: 22px;
}

.header h3 {
    position: absolute;
    font-family: sans-serif;
    color: white;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    top: 118px;
    left: 90px;
}

.header h5{
    position: absolute;
    font-family: sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    top: 145px;
    left: 112px;
}


.header p {
    position: absolute;
    font-family: sans-serif;
    color: rgb(236, 233, 233);
    font-size: 13px;
    top: 189px;
    left: 55px
}

.header h6 {
    position: absolute;
    font-family: sans-serif;
    color: rgb(236, 233, 233);
    font-size: 13px;
    top: 185px;
    left: 105px
}

.body {
    position: absolute;
    height: 126px;
    left: 5px;
    right: 5px;
    top: 52%;
    border-radius: 12px;
}

.body ul {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    
}

.body ul li {
    position: absolute;
    list-style: none;
    display: block;
    height: 50px;
    width: 100%;
    left: 0;
    right: 0;
    border-radius: 12px;
    background-color: transparent;
    transition: all .3s ease-in-out;
}

.body ul li p,
h3,
i {
    position: absolute;
}

.body ul li h3 {
    top: -17px;
    left: 58px;
    color: #000000;
    
}

.body ul li p {
    top: 14px;
    left: 59px;
    font-size: 12px;
    font-family: sans-serif;
    color: #000000;
}

.body ul li i {
    left: 8px;
    top: 7px;
    color: #000000;
    font-size: 26px;
}

.body ul li:nth-child(1) {
    top: 10px;
}

.body ul li:nth-child(2) {
    top: 60px;
}

.body ul li:nth-child(3) {
    top: 68px;
}

.body ul li:nth-child(1) i {
    left: 12px;
}

.body li:hover {
    background-color: #da251d;
    cursor: pointer;
}

.body li:hover i{color:#fff}
.body li:hover h3{color:#fff}
.body li:hover p{color:#fff}
/*footer*/

.footer {
    position: absolute;
    height: 80px;
    bottom: -30px;
    left: 0;
    right: 0;
    border-radius: 12px;
    width:95%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to left, #da251d, #da251d);
}

.footer ul {
    position: absolute;
    left: -60px;
}

.footer ul li {
    display: inline-block;
    margin-left: 74px;
}

.footer ul li i {
    font-size: 30px;
    color: #FFFFFF;
    transition: all .3s ease-in;
}

.footer ul li:hover i {
    transform: scale(0.9);
    color: #fff;
    cursor: pointer;
}

.icon1{
	margin-top: 20px;
	margin-left: 200px;
	cursor: pointer;
	transition: all .3s ease-in;
}

.credit a{
    text-decoration: none;
    color: #fff;
    
  }

  .credit{
    text-align: center;
  }

